iframe{
    /* vh based on https://stackoverflow.com/a/49180868*/
    height: 95vh;
    width: 100%;

}

/* flexbox stuff based on https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox*/
body{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

/* flexbox stuff based on https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox*/
.vizContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.graphic{
    height: 95vh;
    width: 80%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:20vw;
    font-size:10pt;
}


img{
    width: auto;
    height: auto;
    max-width: 90%;
    /* vh based on https://stackoverflow.com/a/49180868*/
    max-height: 90vh;
}


.tooltip{
    position: absolute;/* absolute lets tooltip overlap*/
    opacity: 0;/* initially make tooltip transparent*/
    font-size: 20px;
    fill: black;
    background-color: white;
    border-style: double;/* https://www.w3schools.com/css/css_border.asp*/
    /*https://stackoverflow.com/a/40906878 for the padding */
    padding-left: 5px;
    padding-right: 5px;
}


svg{
    width: 100%;
    height: 100%;
    font-size: 20px;
}

/* since chartcontainer is an id, instead of class, use # (see https://stackoverflow.com/questions/602168/in-css-what-is-the-difference-between-and-when-declaring-a-set-of-styles) */
.chart-container{
    width: 95%;
    height: 95vh;
    display: flex;

}


h1{
    text-align: center;
}

h2{
    text-align: center;
}