iframe{
    /* vh based on https://stackoverflow.com/a/49180868*/
    height: 100vh;
    width: 100%;
}

/* flexbox stuff based on https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox*/
.visContainer{
    display: flex;
    flex-direction: column;
}