iframe{
    /* vh based on https://stackoverflow.com/a/49180868*/
    height: 95vh;
    width: 90%;
}


/* flexbox stuff based on https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox*/
body{
    display: flex;
    flex-direction: row;
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox#align-items*/
    align-items: top;
    /* https://stackoverflow.com/a/58041749 for gap */
    gap: 10px;
}


.vizGraphic{
    /* position fixed based on https://stackoverflow.com/questions/8987519/always-visible-div-while-scrolling */
    position: fixed;
    height: 95vh;
    width: 90%;
}

.step{
    height: 100vh;
}


